<?xml version="1.0"?>

<launch>

    <arg name="frequency" default="300"/>
    <arg name="threshold" default="20"/>
    <arg name="time_window" default="5"/>

    <node name="feet_contacts_node" pkg="centauro_contact_detection" type="contact_detection_time_window" output="screen">
        <param name="pub_freq" value="$(arg frequency)"/>
        <param name="force_thold" value="$(arg threshold)"/>
        <param name="window" value="$(arg time_window)"/>
    </node>

</launch>
